In [8]:
import sys
from pathlib import Path
import importlib
import ipynbname 
import pandas as pd

code_path = ipynbname.path().parent.parent
# Ajouter le dossier scripts au path
scripts_path = code_path  / "scripts"
sys.path.append(str(scripts_path.resolve()))

import data_utils  # importe le module une premi√®re fois

# Apr√®s avoir modifi√© data_utils.py
importlib.reload(data_utils)

base_path = code_path.parent
# Maintenant tu peux acc√©der aux fonctions mises √† jour
from data_utils import import_data_raw, import_data_sig, melt_long_format, clean_year_column, save_long_dataframe, concat_intermediate_files

## Importation et formatage

In [34]:
#Visualisation du fichier
filename="GCB_FFTerritorial_Countries.csv"
filepath= base_path/ "Data" / 'data_raw' / filename

df = pd.read_csv(filepath, dtype=str,header=1)
df.rename(columns={df.columns[0]: 'Year'}, inplace=True)

df.head(20)

,Year,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
0,1960,0.41388,2.0222,6.1512,NaN,0.54895,NaN,0.03664,48.7645,3.1596,...,4.3145,36.5432,0,57.0168,7.4839,NaN,NaN,3.631,4.3553,5.9431
1,1961,0.4908,2.2785,6.0559,NaN,0.45371,NaN,0.047632,51.1267,3.2621,...,4.1168,37.8115,0,51.8798,7.9783,NaN,NaN,2.6637,3.709,5.0613
2,1962,0.68859,2.4617,5.661,NaN,1.1791,NaN,0.10259,53.6401,3.4289,...,4.0069,39.8194,0.040304,54.0561,9.3377,NaN,NaN,3.8838,3.5827,4.889
3,1963,0.70674,2.0806,5.4192,NaN,1.1497,NaN,0.084272,50.0327,3.6822,...,4.3148,42.8514,0.032976,56.1517,9.1104,NaN,NaN,2.9165,3.4445,4.7004
4,1964,0.83855,2.0147,5.643,NaN,1.2229,NaN,0.0916,55.67,3.9203,...,4.5527,45.714,0.062288,56.55,11.7878,NaN,NaN,3.631,3.275,4.4691
5,1965,1.0069,2.1722,6.5885,NaN,1.1862,NaN,0.15022,58.8048,4.1606,...,5.5163,48.5654,0.047632,60.7296,13.1499,NaN,NaN,3.9278,3.9123,5.2092
6,1966,1.0912,2.5496,8.4209,NaN,1.5525,NaN,0.34808,63.0727,4.3956,...,5.3988,51.3345,0.076944,56.974,19.1811,NaN,NaN,3.4625,3.4982,6.0409
7,1967,1.2819,2.6775,8.4316,NaN,0.99181,NaN,0.56426,65.476,4.6015,...,4.8788,53.776,0.084272,65.7524,22.9622,NaN,NaN,3.0521,4.7876,5.2945
8,1968,1.2234,3.0692,9.0502,NaN,1.6695,NaN,0.98928,69.0092,4.7361,...,4.8784,55.3957,0.062288,65.5721,23.6009,NaN,NaN,11.6369,4.5676,6.3777
9,1969,0.94123,3.2413,11.263,NaN,2.7831,NaN,1.2568,77.2489,4.9365,...,5.5894,57.7674,0.043968,68.9332,27.0556,NaN,NaN,4.6753,4.2709,6.7439
10,1970,1.6704,3.7395,15.059,NaN,3.5779,NaN,0.46166,82.648,5.1908,...,5.7358,60.6277,0.040304,74.4893,28.173,NaN,NaN,2.5098,3.7659,8.1541
11,1971,1.8936,4.348,18.642,NaN,3.4054,NaN,0.42502,88.8502,5.5185,...,5.8019,64.4919,0.058624,62.5002,24.5036,NaN,NaN,1.9712,3.7901,8.7327
12,1972,1.5303,5.638,28.3082,NaN,4.5005,NaN,0.37373,90.0726,5.8133,...,6.0694,67.8639,0.062288,62.5141,23.0348,NaN,NaN,1.4949,4.0614,8.2158
13,1973,1.6355,5.2864,38.2538,NaN,4.8737,NaN,0.32976,93.9844,6.0674,...,5.7687,70.769,0.05496,66.4328,25.0679,NaN,NaN,2.7296,4.5857,9.2709
14,1974,1.9132,4.3415,31.8472,NaN,4.8664,NaN,0.42869,95.4922,6.3077,...,5.677,73.5064,0.062288,75.0576,19.058,NaN,NaN,2.2458,4.1972,9.047
15,1975,2.1214,4.5912,31.9642,NaN,4.4088,NaN,0.70715,94.8605,6.6378,...,5.9624,77.3005,0.05496,63.754,21.7714,NaN,NaN,2.1689,4.0762,8.3109
16,1976,1.9809,4.9472,39.0677,NaN,3.28,NaN,0.40304,99.718,6.8952,...,5.8879,80.283,0.043968,57.2779,13.8987,NaN,NaN,2.5645,4.0194,10.8549
17,1977,2.3842,5.7173,41.753,NaN,3.5275,NaN,0.46533,100.7289,7.1326,...,5.6414,83.0028,0.051296,63.658,15.2468,NaN,NaN,2.9785,3.7349,9.2844
18,1978,2.1533,6.4912,62.299,NaN,5.3998,NaN,0.49098,102.5834,7.3826,...,5.7319,85.864,0.058624,68.6045,15.3877,NaN,NaN,3.103,3.4709,9.2797
19,1979,2.2328,7.584,45.3034,NaN,5.4892,NaN,0.4067,110.649,7.4435,...,6.2658,86.5528,0.062288,76.4675,16.2497,NaN,NaN,3.22,3.5965,9.4317

In [ ]:
# D√©finir le chemin
filename = "National_Fossil_Carbon_Emissions_2024v1.0-1.xlsx"
filepath = base_path / "Data" / 'GHG Datasets' / 'Global Carbon Budget' / filename

# Charger le fichier Excel
xls = pd.ExcelFile(filepath)

# Afficher les noms des feuilles
print("Feuilles dans le fichier :", xls.sheet_names)

# Lire la feuille souhait√©e
df = pd.read_excel(filepath, sheet_name=xls.sheet_names[1], dtype=str, header=11)

# Renommer la premi√®re colonne en 'Year'
df.rename(columns={df.columns[0]: "Year"}, inplace=True)

# V√©rifier
df.head(10)

#Importation
df = import_data_raw(filepath, n_header=1, sheet_name=xls.sheet_names[1])
df = clean_year_column(df)  # nettoie la colonne Year
df.head()

In [35]:
#Passage en format long
source="GCB"
unit="tC" 
facteur_conversion=1e6*0.272727  #3.66666 from C to C02, 0.272727 from CO2 to C 
category="Fossil Fuel"
indicator="Territorial"
df_long = melt_long_format(df, id_vars=['Year'], var_name='Country', value_name='Value', source=source,unit=unit, category=category,indicator=indicator)

df_long["Value"] = pd.to_numeric(df_long["Value"], errors="coerce") * facteur_conversion


df_long.head(100)

    Year      Country         Value Unit     Category    Indicator Source
0   1960  Afghanistan  1.128763e+05   tC  Fossil Fuel  Territorial    GCB
1   1961  Afghanistan  1.338544e+05   tC  Fossil Fuel  Territorial    GCB
2   1962  Afghanistan  1.877971e+05   tC  Fossil Fuel  Territorial    GCB
3   1963  Afghanistan  1.927471e+05   tC  Fossil Fuel  Territorial    GCB
4   1964  Afghanistan  2.286952e+05   tC  Fossil Fuel  Territorial    GCB
..   ...          ...           ...  ...          ...          ...    ...
95  1987      Albania  2.031080e+06   tC  Fossil Fuel  Territorial    GCB
96  1988      Albania  1.998871e+06   tC  Fossil Fuel  Territorial    GCB
97  1989      Albania  2.450779e+06   tC  Fossil Fuel  Territorial    GCB
98  1990      Albania  1.505617e+06   tC  Fossil Fuel  Territorial    GCB
99  1991      Albania  1.170053e+06   tC  Fossil Fuel  Territorial    GCB

[100 rows x 7 columns]

## SIG ET NOM DE PAYS

In [11]:
# Importation de fichier SIG
gdf_world=import_data_sig(base_path,'world-administrative-boundaries.geojson')
#gdf_world[['iso_3166_1_alpha_2_codes', 'name']]

gdf_world.head()

,geo_point_2d,iso3,status,color_code,name,continent,region,iso_3166_1_alpha_2_codes,french_short,geometry
0,"{ ""lon"": -16.984917430414384, ""lat"": 32.747916...",None,PT Territory,PRT,Madeira Islands,Europe,Southern Europe,None,Madeira Islands,"POLYGON ((-17.1025 32.82333, -17.05306 32.8094..."
1,"{ ""lon"": 33.743791080217562, ""lat"": 21.8927401...",None,Adm. by EGY,EGY,Ma'tan al-Sarra,Africa,Northern Africa,None,Ma'tan al-Sarra,"POLYGON ((33.25104 21.99977, 34.15064 21.99603..."
2,"{ ""lon"": 9.5613358449883421, ""lat"": 34.1108585...",TUN,Member State,TUN,Tunisia,Africa,Northern Africa,TN,Tunisie,"MULTIPOLYGON (((10.99361 33.75, 10.93778 33.72..."
3,"{ ""lon"": 43.77213543247138, ""lat"": 33.04802449...",IRQ,Member State,IRQ,Iraq,Asia,Western Asia,IQ,Iraq,"POLYGON ((44.78734 37.14971, 44.76617 37.11228..."
4,"{ ""lon"": -6.3178452255610269, ""lat"": 31.883624...",MAR,Member State,MAR,Morocco,Africa,Northern Africa,MA,Maroc,"POLYGON ((-2.94694 35.32916, -2.96618 35.31663..."

In [12]:
# Importation de fichier SIG
gdf_world=import_data_sig(base_path,'world.geojson')
#gdf_world[['iso_3166_1_alpha_2_codes', 'name']]

gdf_world.head()

,geo_point_2d,iso3,status,color_code,name,continent,region,Country_code,french_short,Country,geometry
0,"{ ""lon"": -16.984917430414384, ""lat"": 32.747916...",None,PT Territory,PRT,Madeira Islands,Europe,Southern Europe,None,Madeira Islands,None,"POLYGON ((-17.1025 32.82333, -17.05306 32.8094..."
1,"{ ""lon"": 33.743791080217562, ""lat"": 21.8927401...",None,Adm. by EGY,EGY,Ma'tan al-Sarra,Africa,Northern Africa,None,Ma'tan al-Sarra,None,"POLYGON ((33.25104 21.99977, 34.15064 21.99603..."
2,"{ ""lon"": 9.5613358449883421, ""lat"": 34.1108585...",TUN,Member State,TUN,Tunisia,Africa,Northern Africa,TN,Tunisie,Tunisia,"MULTIPOLYGON (((10.99361 33.75, 10.93778 33.72..."
3,"{ ""lon"": 43.77213543247138, ""lat"": 33.04802449...",IRQ,Member State,IRQ,Iraq,Asia,Western Asia,IQ,Iraq,Iraq,"POLYGON ((44.78734 37.14971, 44.76617 37.11228..."
4,"{ ""lon"": -6.3178452255610269, ""lat"": 31.883624...",MAR,Member State,MAR,Morocco,Africa,Northern Africa,MA,Maroc,Morocco,"POLYGON ((-2.94694 35.32916, -2.96618 35.31663..."

### OPTIONAL

In [ ]:
import pandas as pd

# Fusion des deux tables
df_merged = df_long.merge(
    gdf_world[['iso_3166_1_alpha_2_codes', 'name']],
    left_on='Country',
    right_on='name',
    how='outer',  # on garde tout pour pouvoir identifier les non-correspondances
    indicator=True
)

# --- Identifier les correspondances et les non-correspondances ---
# Country sans √©quivalent dans gdf_world['name']
country_sans_name = df_merged[df_merged['_merge'] == 'left_only'][['Country']].drop_duplicates()

# name sans √©quivalent dans df_final['Country']
name_sans_country = df_merged[df_merged['_merge'] == 'right_only'][['name']].drop_duplicates()

# Comptage
print(f"Nombre de 'Country' sans √©quivalent : {len(country_sans_name)}")
print(f"Nombre de 'name' sans √©quivalent : {len(name_sans_country)}")

# Optionnel : garder seulement les ligne

In [ ]:
import pandas as pd
from difflib import get_close_matches

# --- Pr√©paration ---
countries = df_long['Country'].dropna().unique()
gdf_world['Country'] = None  # colonne √† cr√©er/remplir

from difflib import get_close_matches

# --- Fonction utilitaire pour trouver les meilleures correspondances ---
def find_best_match(target, candidates, cutoff=0.8):
    """Retourne les meilleures correspondances au-dessus du seuil de similarit√©."""
    return get_close_matches(target, candidates, n=5, cutoff=cutoff)

# --- It√©ration sur les lignes de gdf_world ---
for idx, row in gdf_world.iterrows():
    name = str(row['name'])
    french = str(row.get('french_short', '') or '')
    candidates = list(countries)

    # --- 1Ô∏è‚É£ Correspondance exacte ---
    exact_match = next(
        (c for c in candidates if c.lower() == name.lower() or c.lower() == french.lower()), 
        None
    )
    if exact_match:
        gdf_world.at[idx, 'Country'] = exact_match
        continue

    # --- 2Ô∏è‚É£ Correspondance par inclusion (dans un sens ou l‚Äôautre) ---
    inclusions = [
        c for c in candidates
        if name.lower() in c.lower() or c.lower() in name.lower()
        or french.lower() in c.lower() or c.lower() in french.lower()
    ]
    if inclusions:
        print(f"\nüåç Nom : {name} (FR : {french})")
        print("‚Üí Correspondances par inclusion :")
        for i, c in enumerate(inclusions):
            print(f"  [{i}] {c}")
        choix = input("S√©lectionner le num√©ro de la correspondance √† valider (Entr√©e pour ignorer) : ")

        if choix.isdigit() and int(choix) < len(inclusions):
            gdf_world.at[idx, 'Country'] = inclusions[int(choix)]
            print(f"‚úÖ Correspondance valid√©e (inclusion) : {name} ‚Üí {inclusions[int(choix)]}")
            continue
        else:
            print(f"‚ùå Aucune correspondance valid√©e pour {name}")

    # --- 3Ô∏è‚É£ Correspondance floue (difflib) ---
    matches_name = find_best_match(name, candidates)
    matches_fr = find_best_match(french, candidates) if french else []
    all_matches = list(dict.fromkeys(matches_name + matches_fr))  # fusion sans doublons

    if all_matches:
        print(f"\nüåç Nom : {name} (FR : {french})")
        print("‚Üí Correspondances floues potentielles dans df_merged['Country'] :")
        for i, c in enumerate(all_matches):
            print(f"  [{i}] {c}")
        choix = input("S√©lectionner le num√©ro de la correspondance √† valider (Entr√©e pour ignorer) : ")

        if choix.isdigit() and int(choix) < len(all_matches):
            gdf_world.at[idx, 'Country'] = all_matches[int(choix)]
            print(f"‚úÖ Correspondance valid√©e (floue) : {name} ‚Üí {all_matches[int(choix)]}")
        else:
            print(f"‚ùå Aucune correspondance valid√©e pour {name}")

print("\n‚úÖ Mise √† jour termin√©e.")

In [ ]:
# Sauvegarde du GeoDataFrame mis √† jour en GeoJSON
filepath= base_path/ "Data" / 'SIG' / "world.geojson"
gdf_world = gdf_world.rename(columns={'iso_3166_1_alpha_2_codes': 'Country_code'})

gdf_world.to_file(filepath, driver="GeoJSON", encoding="utf-8")

print(f"‚úÖ Fichier enregistr√© : {filepath}")

### GO

In [36]:
# Fusionner avec df_merged
df_merged = df_long.merge(
    gdf_world[['Country_code', 'Country']],
    on='Country',
    how='left'
)

# V√©rifier que la colonne existe
if 'Country_code' not in df_merged.columns:
    df_merged['Country_code'] = pd.NA

print("‚úÖ Fusion termin√©e.")
print(f"Lignes fusionn√©es : {len(df_merged)}")
print(f"Lignes sans correspondance de code pays AVANT mapping manuel : {df_merged['Country_code'].isna().sum()}")

# --- üîß Ajout du mapping manuel pour certains pays ---
manual_mapping = {
    "Laos": "LA",
    "Lao People's Democratic Republic": "LA",
    "North Korea": "KP",
    "Democratic People's Republic of Korea": "KP",
    "North Macedonia": "MK",
    "Macedonia": "MK",
    "Occupied Palestinian Territory": "PS",
    "State of Palestine": "PS",
    "South Korea": "KR",
    "Republic of Korea": "KR",
    "United Kingdom": "GB",
    "United Kingdom of Great Britain and Northern Ireland": "GB",
    "Namibia": "NAM"  # ton code personnalis√©
}

# Appliquer les codes manuels
df_merged['Country_code'] = df_merged.apply(
    lambda row: manual_mapping.get(row['Country'], row['Country_code']),
    axis=1
)

print(f"Lignes sans correspondance de code pays APR√àS mapping manuel : {df_merged['Country_code'].isna().sum()}")

‚úÖ Fusion termin√©e.
Lignes fusionn√©es : 15096
Lignes sans correspondance de code pays AVANT mapping manuel : 2244
Lignes sans correspondance de code pays APR√àS mapping manuel : 1836

In [37]:
#enregistrer dans data_intermediate
save_long_dataframe(
    df_merged,
    base_path,
    folder='data_intermediate',
    category=category,
    indicator=indicator,
    source=source
)

DataFrame sauvegard√© dans C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\Fossil_Fuel_Territorial_GCB.csv

WindowsPath('C:/Users/User 1/Documents/NetZero/NetZero/Data/data_intermediate/Fossil_Fuel_Territorial_GCB.csv')

In [ ]:
# Filtrer les pays sans correspondance
countries_without_match = df_merged[df_merged['Country_code'].isna()]['Country'].dropna().drop_duplicates().sort_values()

# Afficher le r√©sultat
print(f"üåç Nombre de pays sans correspondance : {len(countries_without_match)}")
display(countries_without_match.to_frame().reset_index(drop=True))

In [ ]:
import pandas as pd

def manual_country_code_match(df_merged, gdf_world, country_codes_path=r'C:\Users\Aubin\Documents\NetZero\Data\SIG\country_codes_clean.csv'):
    """
    Compl√®te manuellement ou automatiquement les codes ISO (Country_code) pour les pays
    de df_merged qui n'ont pas de correspondance dans gdf_world['Country_code'].
    """
    
    # --- üîß Mapping manuel forc√© (prioritaire) ---
    manual_mapping = {
        "Laos": "LA",
        "Lao People's Democratic Republic": "LA",
        "North Korea": "KP",
        "Democratic People's Republic of Korea": "KP",
        "North Macedonia": "MK",
        "Macedonia": "MK",
        "Occupied Palestinian Territory": "PS",
        "State of Palestine": "PS",
        "South Korea": "KR",
        "Republic of Korea": "KR",
        "United Kingdom": "GB",
        "United Kingdom of Great Britain and Northern Ireland": "GB",
        "Namibia": "NAM"   # (attention : ce n‚Äôest pas le code ISO, mais ce que tu veux)
    }

    # Charger le fichier CSV des codes ISO
    country_codes_df = pd.read_csv(country_codes_path)

    # Mapping existant depuis gdf_world
    existing_mapping = gdf_world.set_index('Country')['Country_code'].to_dict()

    # Mapping depuis CSV
    csv_mapping = country_codes_df.set_index('Country')['Alpha-2 code'].to_dict()

    # Identifier les pays sans code
    unmatched_countries = (
        df_merged.loc[df_merged['Country_code'].isna(), 'Country']
        .dropna()
        .unique()
    )

    print(f"\nüîé {len(unmatched_countries)} pays sans Country_code.\n")

    for c in unmatched_countries:
        print(f"\nüåç Pays : {c}")

        # --- 1Ô∏è‚É£ V√©rifier le mapping manuel ---
        if c in manual_mapping:
            saisie = manual_mapping[c]
            print(f"‚Üí Code trouv√© dans le mapping manuel : {saisie}")

        # --- 2Ô∏è‚É£ V√©rifier le CSV ---
        elif c in csv_mapping:
            saisie = csv_mapping[c]
            print(f"‚Üí Code trouv√© automatiquement depuis CSV : {saisie}")

        # --- 3Ô∏è‚É£ Chercher dans gdf_world (suggestions partielles) ---
        else:
            suggestions = gdf_world[gdf_world['Country'].str.contains(c, case=False, na=False)]

            if not suggestions.empty:
                print("‚Üí Suggestions depuis gdf_world :")
                for i, row in suggestions.iterrows():
                    print(f"  [{i}] {row['Country']} ‚Üí {row['Country_code']}")

            # Saisie manuelle
            saisie = input("Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) : ").strip().upper()
            if saisie == "":
                print("‚è≠Ô∏è Ignor√©.")
                continue

        # Appliquer la saisie
        df_merged.loc[df_merged['Country'] == c, 'Country_code'] = saisie
        print(f"‚úÖ Country_code ajout√© : {c} ‚Üí {saisie}")

    print("\n‚úÖ Saisie automatique et manuelle des codes termin√©e.")
    return df_merged

In [ ]:
df_merged=manual_country_code_match(df_merged, gdf_world)

## DF FINAL

In [25]:
#enregistrer dans data_intermediate
save_long_dataframe(
    df_merged,
    base_path,
    folder='data_intermediate',
    category=category,
    indicator=indicator,
    source=source
)

DataFrame sauvegard√© dans C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\Fossil_Fuel_Territorial_GCB.csv

WindowsPath('C:/Users/User 1/Documents/NetZero/NetZero/Data/data_intermediate/Fossil_Fuel_Territorial_GCB.csv')

In [ ]:
df_merged

###  CHANGE UNIT

In [ ]:
def browse_and_convert_units(
        base_path,
        folder_in="data_intermediate",
        value_col="Value",
        unit_col="Unit",
        sep=",",
        encoding="utf-8"
    ):
    """
    Parcourt tous les fichiers CSV du dossier, demande si on veut changer l'unit√©
    et applique la conversion directement dans chaque fichier.

    Param√®tres :
    - base_path : Path de base
    - folder_in : dossier contenant les CSV
    - value_col : colonne des valeurs
    - unit_col : colonne de l'unit√©
    """

    import pandas as pd
    from pathlib import Path
    import glob

    # Construire le chemin des fichiers
    folder_path = base_path / "Data" / folder_in
    files = glob.glob(str(folder_path / "*.csv"))

    if not files:
        print(f"Aucun fichier CSV trouv√© dans {folder_path}")
        return None

    print(f"üîç {len(files)} fichiers trouv√©s dans {folder_path}\n")

    for file in files:
        print("‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê")
        print(f"üìÑ Fichier : {file}")

        # Charger le fichier
        df = pd.read_csv(file, sep=sep, encoding=encoding)

        # V√©rification des colonnes
        if value_col not in df.columns or unit_col not in df.columns:
            print(f"‚ö†Ô∏è  Fichier ignor√© (colonnes manquantes '{value_col}' ou '{unit_col}')\n")
            continue

        # Unit√© actuelle
        current_unit = df[unit_col].iloc[0]
        print(f"üîç Unit√© actuelle : {current_unit}")

        # Demander si on veut convertir
        resp = input("üëâ Voulez-vous changer l'unit√© ? (o/n) : ").strip().lower()
        if resp != "o":
            print("‚û° Aucun changement pour ce fichier.\n")
            continue

        # Facteur multiplicatif
        while True:
            try:
                factor = float(input("‚û° Facteur multiplicatif : "))
                break
            except ValueError:
                print("‚ùå Entrer un nombre valide.")

        # Nouvelle unit√©
        new_unit = input("‚û° Nouvelle unit√© : ").strip()
        if new_unit == "":
            print("‚ùå Unit√© vide ‚Äî fichier non modifi√©.\n")
            continue

        # Appliquer la conversion
        print(f"üîÑ Conversion : {value_col} √ó {factor}")
        df[value_col] = df[value_col] * factor
        df[unit_col] = new_unit

        # Sauvegarder
        df.to_csv(file, sep=sep, index=False, encoding=encoding)
        print(f"üíæ Fichier mis √† jour : {file}\n")

    print("üéâ Conversion termin√©e pour tous les fichiers.")

In [ ]:
from pathlib import Path

browse_and_convert_units(base_path, folder_in="data_intermediate")

### CONCAT

In [39]:
def concat_intermediate_files(base_path, folder_in="data_intermediate", folder_out="data_final", final_filename="data_final.csv", sep=',', encoding='utf-8'):
    """
    Concat√®ne tous les fichiers CSV dans un dossier interm√©diaire et sauvegarde le r√©sultat final.
    Affiche les fichiers trouv√©s et le nombre de lignes par fichier.

    Param√®tres :
    - folder_in : dossier contenant les fichiers CSV interm√©diaires
    - folder_out : dossier o√π sauvegarder le fichier final
    - final_filename : nom du fichier CSV final
    - sep : s√©parateur CSV
    - encoding : encodage du fichier
    """
    import pandas as pd
    from pathlib import Path
    import glob

    # Construire le chemin des fichiers
    folder_path = base_path / "Data" / folder_in
    files = glob.glob(str(folder_path / "*.csv"))

    if not files:
        print(f"Aucun fichier CSV trouv√© dans {folder_path}")
        return None

    print("Fichiers trouv√©s et nombre de lignes :")
    dfs = []
    for f in files:
        df = pd.read_csv(f, sep=sep, encoding=encoding)
        print(f"{f} colonnes : {df.columns.tolist()}")
        print(f"- {f} : {len(df)} lignes")
        dfs.append(df)

    # Concat√©ner tous les fichiers
    df_final = pd.concat(dfs, ignore_index=True)
    print(f"{len(files)} fichiers fusionn√©s pour obtenir {len(df_final)} lignes au total.")

    # Sauvegarder le r√©sultat final
    save_path = base_path / "Data" / folder_out / final_filename
    save_path.parent.mkdir(parents=True, exist_ok=True)
    df_final.to_csv(save_path, sep=sep, index=False, encoding=encoding)

    print(f"DataFrame final sauvegard√© dans {save_path}")
    return df_final

In [40]:
#Concat√©ner toutes les bases de donn√©es dans data_intermediate et enregistrer dans data_final
df_final = concat_intermediate_files(
    base_path,
    folder_in="data_intermediate",
    folder_out="data_final",
    final_filename="data_final_all.csv"
)
df_final.head()

Fichiers trouv√©s et nombre de lignes :
C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\Fossil_Fuel_Consumption_GCB.csv colonnes : ['Year', 'Country', 'Value', 'Unit', 'Category', 'Indicator', 'Source', 'Country_code']
- C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\Fossil_Fuel_Consumption_GCB.csv : 4033 lignes
C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\Fossil_Fuel_Territorial_GCB.csv colonnes : ['Year', 'Country', 'Value', 'Unit', 'Category', 'Indicator', 'Source', 'Country_code']
- C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\Fossil_Fuel_Territorial_GCB.csv : 12306 lignes
C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\Fossil_Fuel_Transfer_GCB.csv colonnes : ['Year', 'Country', 'Value', 'Unit', 'Category', 'Indicator', 'Source', 'Country_code']
- C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\Fossil_Fuel_Transfer_GCB.csv : 4033 lignes
C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Deforestation_GCB.csv colonnes : ['Year', 'Country', 'Value', 'Unit', 'Indicator', 'Source', 'Country_code', 'Category']
- C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Deforestation_GCB.csv : 12675 lignes
C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Forest_Regrowth_GCB.csv colonnes : ['Year', 'Country', 'Value', 'Unit', 'Indicator', 'Source', 'Country_code', 'Category']
- C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Forest_Regrowth_GCB.csv : 12675 lignes
C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Net_emissions_GCB.csv colonnes : ['Year', 'Country', 'Value', 'Unit', 'Indicator', 'Source', 'Country_code', 'Category']
- C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Net_emissions_GCB.csv : 12480 lignes
C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Other_Emissions_GCB.csv colonnes : ['Year', 'Country', 'Value', 'Unit', 'Indicator', 'Source', 'Country_code', 'Category']
- C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Other_Emissions_GCB.csv : 12675 lignes
C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Peat_Emissions_GCB.csv colonnes : ['Year', 'Country', 'Value', 'Unit', 'Indicator', 'Source', 'Country_code', 'Category']
- C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Peat_Emissions_GCB.csv : 12675 lignes
C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Wood_Harvesting_GCB.csv colonnes : ['Year', 'Country', 'Value', 'Unit', 'Indicator', 'Source', 'Country_code', 'Category']
- C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Wood_Harvesting_GCB.csv : 12675 lignes
9 fichiers fusionn√©s pour obtenir 96227 lignes au total.
DataFrame final sauvegard√© dans C:\Users\User 1\Documents\NetZero\NetZero\Data\data_final\data_final_all.csv

,Year,Country,Value,Unit,Category,Indicator,Source,Country_code
0,1990,Albania,1.520044e+06,tC,Fossil Fuel,Consumption,GCB,AL
1,1991,Albania,1.258935e+06,tC,Fossil Fuel,Consumption,GCB,AL
2,1992,Albania,7.976992e+05,tC,Fossil Fuel,Consumption,GCB,AL
3,1993,Albania,7.294902e+05,tC,Fossil Fuel,Consumption,GCB,AL
4,1994,Albania,6.450812e+05,tC,Fossil Fuel,Consumption,GCB,AL

In [41]:
def concat_and_add_cumulative(base_path,
                              folder_in="data_intermediate",
                              folder_out="data_final",
                              final_filename="data_final.csv",
                              sep=",",
                              encoding="utf-8",
                              group_cols=["Country_code"]):
    """
    Parcourt un dossier contenant des fichiers CSV, ajoute Type='Annual',
    puis cr√©e une version Cumulative en cumulant la colonne 'Value' sur 'Year',
    en respectant le pays (Code_country).

    Param√®tres :
    - group_cols : colonnes pour grouper les valeurs afin de cumuler (inclut Code_country).
    """

    import pandas as pd
    from pathlib import Path
    import glob

    folder_path = base_path / "Data" / folder_in
    files = glob.glob(str(folder_path / "*.csv"))

    if not files:
        print(f"Aucun fichier CSV trouv√© dans {folder_path}")
        return None

    dfs_all = []

    print("Fichiers trouv√©s :")
    for f in files:
        print(f"‚Üí {f}")

        df = pd.read_csv(f, sep=sep, encoding=encoding)

        # V√©rifications
        required_cols = ["Year", "Value", "Country_code"]
        for col in required_cols:
            if col not in df.columns:
                print(f"‚ö†Ô∏è Fichier ignor√© : colonne manquante '{col}' ‚Üí {f}")
                break
        else:
            # ANNUAL
            df_annual = df.copy()
            df_annual["Type"] = "Annual"

            # CUMULATIVE
            df_cum = df.copy()
            df_cum["Type"] = "Cumulative"

            # Cumul par Code_country + autres group_cols
            df_cum["Value"] = (
                df_cum
                .sort_values("Year")
                .groupby(group_cols)["Value"]
                .cumsum()
            )

            # Combine Annual + Cumulative
            dfs_all.append(pd.concat([df_annual, df_cum], ignore_index=True))

    # Fusion de tous les fichiers
    df_final = pd.concat(dfs_all, ignore_index=True)

    # Sauvegarde
    save_path = base_path / "Data" / folder_out / final_filename
    save_path.parent.mkdir(parents=True, exist_ok=True)
    df_final.to_csv(save_path, sep=sep, index=False, encoding=encoding)

    print(f"\n‚úî Donn√©es fusionn√©es et sauvegard√©es dans : {save_path}")
    print(f"‚úî Total : {len(df_final):,} lignes")

    return df_final

In [42]:
df_final=concat_and_add_cumulative(base_path,
                              folder_in="data_intermediate",
                              folder_out="data_final",
                              final_filename="data_final_all.csv",
                              sep=",",
                              encoding="utf-8",
                              group_cols=["Country_code"])

Fichiers trouv√©s :
‚Üí C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\Fossil_Fuel_Consumption_GCB.csv
‚Üí C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\Fossil_Fuel_Territorial_GCB.csv
‚Üí C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\Fossil_Fuel_Transfer_GCB.csv
‚Üí C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Deforestation_GCB.csv
‚Üí C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Forest_Regrowth_GCB.csv
‚Üí C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Net_emissions_GCB.csv
‚Üí C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Other_Emissions_GCB.csv
‚Üí C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Peat_Emissions_GCB.csv
‚Üí C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Wood_Harvesting_GCB.csv

‚úî Donn√©es fusionn√©es et sauvegard√©es dans : C:\Users\User 1\Documents\NetZero\NetZero\Data\data_final\data_final_all.csv
‚úî Total : 192,454 lignes

In [43]:
df_final

,Year,Country,Value,Unit,Category,Indicator,Source,Country_code,Type
0,1990,Albania,1.520044e+06,tC,Fossil Fuel,Consumption,GCB,AL,Annual
1,1991,Albania,1.258935e+06,tC,Fossil Fuel,Consumption,GCB,AL,Annual
2,1992,Albania,7.976992e+05,tC,Fossil Fuel,Consumption,GCB,AL,Annual
3,1993,Albania,7.294902e+05,tC,Fossil Fuel,Consumption,GCB,AL,Annual
4,1994,Albania,6.450812e+05,tC,Fossil Fuel,Consumption,GCB,AL,Annual
...,...,...,...,...,...,...,...,...,...
192449,2020,Zimbabwe,4.767382e+07,tC,LULUCF,Wood Harvesting,GCB,ZW,Cumulative
192450,2021,Zimbabwe,4.859141e+07,tC,LULUCF,Wood Harvesting,GCB,ZW,Cumulative
192451,2022,Zimbabwe,4.951711e+07,tC,LULUCF,Wood Harvesting,GCB,ZW,Cumulative
192452,2023,Zimbabwe,5.038698e+07,tC,LULUCF,Wood Harvesting,GCB,ZW,Cumulative
192453,2024,Zimbabwe,5.117530e+07,tC,LULUCF,Wood Harvesting,GCB,ZW,Cumulative

In [46]:
from pathlib import Path
import pandas as pd

folder = base_path / 'Data' / 'data_intermediate'

# Loop over all files in the folder (e.g., CSV files)
for filepath in folder.glob('*.csv'):  # adjust pattern if needed
     # read the file
    df_fixed = fix_missing_country_codes(filepath)  # apply your function

Loading data from: C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\Fossil_Fuel_Consumption_GCB.csv
File loaded: C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\Fossil_Fuel_Consumption_GCB.csv
------------------------------------------------------------
No missing Country_code found. Nothing to fix.
Loading data from: C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\Fossil_Fuel_Territorial_GCB.csv
File loaded: C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\Fossil_Fuel_Territorial_GCB.csv
------------------------------------------------------------
No missing Country_code found. Nothing to fix.
Loading data from: C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\Fossil_Fuel_Transfer_GCB.csv
File loaded: C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\Fossil_Fuel_Transfer_GCB.csv
------------------------------------------------------------
No missing Country_code found. Nothing to fix.
Loading data from: C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Deforestation_GCB.csv
File loaded: C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Deforestation_GCB.csv
------------------------------------------------------------
No missing Country_code found. Nothing to fix.
Loading data from: C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Forest_Regrowth_GCB.csv
File loaded: C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Forest_Regrowth_GCB.csv
------------------------------------------------------------
No missing Country_code found. Nothing to fix.
Loading data from: C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Net_emissions_GCB.csv
File loaded: C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Net_emissions_GCB.csv
------------------------------------------------------------
No missing Country_code found. Nothing to fix.
Loading data from: C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Other_Emissions_GCB.csv
File loaded: C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Other_Emissions_GCB.csv
------------------------------------------------------------
No missing Country_code found. Nothing to fix.
Loading data from: C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Peat_Emissions_GCB.csv
File loaded: C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Peat_Emissions_GCB.csv
------------------------------------------------------------
No missing Country_code found. Nothing to fix.
Loading data from: C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Wood_Harvesting_GCB.csv
File loaded: C:\Users\User 1\Documents\NetZero\NetZero\Data\data_intermediate\LULUCF_Wood_Harvesting_GCB.csv
------------------------------------------------------------
No missing Country_code found. Nothing to fix.

In [ ]:
### CHECK NO COUNTRY CODE BUT DATA AND UPDATE

In [45]:
import pandas as pd
def import_csv_data(filepath):
    print("Loading data from:", filepath.resolve())  # debug
    df = pd.read_csv(filepath)
    return df
    
def fix_missing_country_codes(filepath, country_col="Country", code_col="Country_code"):
    """
    Load a file, detect countries missing country_code, ask user for the code,
    update the file, and save the corrected version.
    """
    # Load file
    df = import_csv_data(filepath)
    print(f"File loaded: {filepath}")
    print("-" * 60)

    # Identify missing codes
    missing_mask = df[code_col].isna() | (df[code_col].astype(str).str.strip() == "")
    missing_countries = df.loc[missing_mask, country_col].unique()

    if len(missing_countries) == 0:
        print("No missing Country_code found. Nothing to fix.")
        return df

    print("Countries missing Country_code:")
    for c in missing_countries:
        print(f" - {c}")

    print("\nPlease enter the missing Country_code values.\n")

    # Ask manually for each missing country
    replacement_map = {}
    for country in missing_countries:
        code = input(f"Enter Country_code for '{country}': ").strip()
        replacement_map[country] = code

    # Apply replacements
    for country, code in replacement_map.items():
        df.loc[df[country_col] == country, code_col] = code

    # Save file (overwrite)
    df.to_csv(filepath, index=False)
    print("\nUpdated file saved!")
    print(f" ‚Üí {filepath}")

    return df