In [91]:
import sys
from pathlib import Path
import importlib
import ipynbname 
import pandas as pd

code_path = ipynbname.path().parent.parent
# Ajouter le dossier scripts au path
scripts_path = code_path  / "scripts"
sys.path.append(str(scripts_path.resolve()))

import data_utils  # importe le module une première fois

# Après avoir modifié data_utils.py
importlib.reload(data_utils)

# Maintenant tu peux accéder aux fonctions mises à jour
from data_utils import import_data_raw, import_data_sig, melt_long_format, clean_year_column, save_long_dataframe, concat_intermediate_files

## Importation et formatage

In [80]:
#Visualisation du fichier
filename="GCB_NetEmissions_Countries.csv"
filepath= Path("..") / "Data" / 'data_raw' / filename

df = pd.read_csv(filepath, dtype=str)
df.head()

,Net emissions in TgC/year,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 185,Unnamed: 186,Unnamed: 187,Unnamed: 188,Unnamed: 189,Unnamed: 190,Unnamed: 191,Unnamed: 192,Unnamed: 193,Unnamed: 194
0,NaN,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,United Kingdom,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
1,1960,4.17891,0.98295,4.38642,0.00563,25.0768,-0.02346,10.17,-0.00933,27.694,...,4.45349,14.81644,3.03836,4.84642,0.16419,32.23863,18.54567,-0.15766,13.8241,4.53668
2,1961,3.59662,0.7255,1.8356,0.0074,17.26244,-0.02766,14.1064,0.11416,33.07387,...,7.10318,-10.00987,2.21593,4.75608,0.15837,22.70522,16.16189,-0.10315,12.03768,4.20776
3,1962,3.32416,0.60905,0.8065,0.00565,12.35364,-0.02709,14.34233,0.02598,23.63673,...,7.64517,8.79808,1.46941,4.29027,0.13158,16.16343,14.72754,-0.05754,10.7137,4.01729
4,1963,3.23023,0.46588,0.2254,0.00443,10.40859,-0.02679,15.20561,0.00352,31.58455,...,5.53469,-7.56161,1.21948,3.8779,0.12169,13.62059,14.42662,-0.02795,9.97474,3.78506

In [81]:
#Importation
df = import_data_raw("GCB_NetEmissions_Countries.csv", n_header=1)
df = clean_year_column(df)  # nettoie la colonne Year
df.head()

,Year,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,United Kingdom,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,1960,4.17891,0.98295,4.38642,0.00563,25.07680,-0.02346,10.17000,-0.00933,27.69400,...,4.45349,14.81644,3.03836,4.84642,0.16419,32.23863,18.54567,-0.15766,13.82410,4.53668
1,1961,3.59662,0.72550,1.83560,0.00740,17.26244,-0.02766,14.10640,0.11416,33.07387,...,7.10318,-10.00987,2.21593,4.75608,0.15837,22.70522,16.16189,-0.10315,12.03768,4.20776
2,1962,3.32416,0.60905,0.80650,0.00565,12.35364,-0.02709,14.34233,0.02598,23.63673,...,7.64517,8.79808,1.46941,4.29027,0.13158,16.16343,14.72754,-0.05754,10.71370,4.01729
3,1963,3.23023,0.46588,0.22540,0.00443,10.40859,-0.02679,15.20561,0.00352,31.58455,...,5.53469,-7.56161,1.21948,3.87790,0.12169,13.62059,14.42662,-0.02795,9.97474,3.78506
4,1964,2.79609,0.65877,0.33382,0.00364,8.94263,-0.03112,16.08965,-0.02384,35.63860,...,4.66610,-20.76250,0.71589,3.52800,0.47585,11.67585,14.02095,0.00005,9.69592,3.48887

In [82]:
#Passage en format long
df_long = melt_long_format(df, id_vars=['Year'], var_name='Country', value_name='Value', source="GCB",unit='TgC/year', indicator="LULUCF Net emissions")
df_long.head()

   Year      Country    Value      Unit             Indicator Source
0  1960  Afghanistan  4.17891  TgC/year  LULUCF Net emissions    GCB
1  1961  Afghanistan  3.59662  TgC/year  LULUCF Net emissions    GCB
2  1962  Afghanistan  3.32416  TgC/year  LULUCF Net emissions    GCB
3  1963  Afghanistan  3.23023  TgC/year  LULUCF Net emissions    GCB
4  1964  Afghanistan  2.79609  TgC/year  LULUCF Net emissions    GCB

In [168]:
#enregistrer dans data_intermediate
save_long_dataframe(
    df_merged,
    folder='data_intermediate',
    indicator="LULUCF Net emissions",
    source="GCB"
)

DataFrame sauvegardé dans ..\Data\data_intermediate\LULUCF_Net_emissions_GCB.csv

WindowsPath('../Data/data_intermediate/LULUCF_Net_emissions_GCB.csv')

In [169]:
#Concaténer toutes les bases de données dans data_intermediate et enregistrer dans data_final
df_final = concat_intermediate_files(
    folder_in="data_intermediate",
    folder_out="data_final",
    final_filename="data_final_all.csv"
)
df_final.head()

DataFrame final sauvegardé dans ..\Data\data_final\data_final_all.csv (12608 lignes)

,Year,Country,Value,Unit,Indicator,Source,Country_code
0,1960,Afghanistan,4.17891,TgC/year,LULUCF Net emissions,GCB,AF
1,1961,Afghanistan,3.59662,TgC/year,LULUCF Net emissions,GCB,AF
2,1962,Afghanistan,3.32416,TgC/year,LULUCF Net emissions,GCB,AF
3,1963,Afghanistan,3.23023,TgC/year,LULUCF Net emissions,GCB,AF
4,1964,Afghanistan,2.79609,TgC/year,LULUCF Net emissions,GCB,AF

## SIG ET NOM DE PAYS

In [140]:
# Importation de fichier SIG
gdf_world=import_data_sig('world-administrative-boundaries.geojson')
gdf_world[['iso_3166_1_alpha_2_codes', 'name']]

gdf_world.head()

,geo_point_2d,iso3,status,color_code,name,continent,region,iso_3166_1_alpha_2_codes,french_short,geometry
0,"{ ""lon"": -16.984917430414384, ""lat"": 32.747916...",None,PT Territory,PRT,Madeira Islands,Europe,Southern Europe,None,Madeira Islands,"POLYGON ((-17.1025 32.82333, -17.05306 32.8094..."
1,"{ ""lon"": 33.743791080217562, ""lat"": 21.8927401...",None,Adm. by EGY,EGY,Ma'tan al-Sarra,Africa,Northern Africa,None,Ma'tan al-Sarra,"POLYGON ((33.25104 21.99977, 34.15064 21.99603..."
2,"{ ""lon"": 9.5613358449883421, ""lat"": 34.1108585...",TUN,Member State,TUN,Tunisia,Africa,Northern Africa,TN,Tunisie,"MULTIPOLYGON (((10.99361 33.75, 10.93778 33.72..."
3,"{ ""lon"": 43.77213543247138, ""lat"": 33.04802449...",IRQ,Member State,IRQ,Iraq,Asia,Western Asia,IQ,Iraq,"POLYGON ((44.78734 37.14971, 44.76617 37.11228..."
4,"{ ""lon"": -6.3178452255610269, ""lat"": 31.883624...",MAR,Member State,MAR,Morocco,Africa,Northern Africa,MA,Maroc,"POLYGON ((-2.94694 35.32916, -2.96618 35.31663..."

In [141]:
import pandas as pd

# Fusion des deux tables
df_merged = df_long.merge(
    gdf_world[['iso_3166_1_alpha_2_codes', 'name']],
    left_on='Country',
    right_on='name',
    how='outer',  # on garde tout pour pouvoir identifier les non-correspondances
    indicator=True
)

# --- Identifier les correspondances et les non-correspondances ---
# Country sans équivalent dans gdf_world['name']
country_sans_name = df_merged[df_merged['_merge'] == 'left_only'][['Country']].drop_duplicates()

# name sans équivalent dans df_final['Country']
name_sans_country = df_merged[df_merged['_merge'] == 'right_only'][['name']].drop_duplicates()

# Comptage
print(f"Nombre de 'Country' sans équivalent : {len(country_sans_name)}")
print(f"Nombre de 'name' sans équivalent : {len(name_sans_country)}")

# Optionnel : garder seulement les ligne

Nombre de 'Country' sans équivalent : 14
Nombre de 'name' sans équivalent : 76

In [142]:
country_sans_name

                              Country
325               Antigua and Barbuda
1354           Bosnia and Herzegovina
5027                             Iran
5866                             Laos
6186                            Libya
7153                          Moldova
8119                      North Korea
8183                  North Macedonia
8312   Occupied Palestinian Territory
9084          Republic of South Sudan
10367                     South Korea
10882                           Syria
11012                        Tanzania
11848                  United Kingdom

In [143]:
import pandas as pd
from difflib import get_close_matches

# --- Préparation ---
countries = df_final['Country'].dropna().unique()
gdf_world['Country'] = None  # colonne à créer/remplir

from difflib import get_close_matches

# --- Fonction utilitaire pour trouver les meilleures correspondances ---
def find_best_match(target, candidates, cutoff=0.8):
    """Retourne les meilleures correspondances au-dessus du seuil de similarité."""
    return get_close_matches(target, candidates, n=5, cutoff=cutoff)

# --- Itération sur les lignes de gdf_world ---
for idx, row in gdf_world.iterrows():
    name = str(row['name'])
    french = str(row.get('french_short', '') or '')
    candidates = list(countries)

    # --- 1️⃣ Correspondance exacte ---
    exact_match = next(
        (c for c in candidates if c.lower() == name.lower() or c.lower() == french.lower()), 
        None
    )
    if exact_match:
        gdf_world.at[idx, 'Country'] = exact_match
        continue

    # --- 2️⃣ Correspondance par inclusion (dans un sens ou l’autre) ---
    inclusions = [
        c for c in candidates
        if name.lower() in c.lower() or c.lower() in name.lower()
        or french.lower() in c.lower() or c.lower() in french.lower()
    ]
    if inclusions:
        print(f"\n🌍 Nom : {name} (FR : {french})")
        print("→ Correspondances par inclusion :")
        for i, c in enumerate(inclusions):
            print(f"  [{i}] {c}")
        choix = input("Sélectionner le numéro de la correspondance à valider (Entrée pour ignorer) : ")

        if choix.isdigit() and int(choix) < len(inclusions):
            gdf_world.at[idx, 'Country'] = inclusions[int(choix)]
            print(f"✅ Correspondance validée (inclusion) : {name} → {inclusions[int(choix)]}")
            continue
        else:
            print(f"❌ Aucune correspondance validée pour {name}")

    # --- 3️⃣ Correspondance floue (difflib) ---
    matches_name = find_best_match(name, candidates)
    matches_fr = find_best_match(french, candidates) if french else []
    all_matches = list(dict.fromkeys(matches_name + matches_fr))  # fusion sans doublons

    if all_matches:
        print(f"\n🌍 Nom : {name} (FR : {french})")
        print("→ Correspondances floues potentielles dans df_final['Country'] :")
        for i, c in enumerate(all_matches):
            print(f"  [{i}] {c}")
        choix = input("Sélectionner le numéro de la correspondance à valider (Entrée pour ignorer) : ")

        if choix.isdigit() and int(choix) < len(all_matches):
            gdf_world.at[idx, 'Country'] = all_matches[int(choix)]
            print(f"✅ Correspondance validée (floue) : {name} → {all_matches[int(choix)]}")
        else:
            print(f"❌ Aucune correspondance validée pour {name}")

print("\n✅ Mise à jour terminée.")

🌍 Nom : Netherlands Antilles (FR : Netherlands Antilles)
→ Correspondances par inclusion :
  [0] Netherlands

Sélectionner le numéro de la correspondance à valider (Entrée pour ignorer) :

❌ Aucune correspondance validée pour Netherlands Antilles

🌍 Nom : British Indian Ocean Territory (FR : British Indian Ocean Territory)
→ Correspondances par inclusion :
  [0] India

Sélectionner le numéro de la correspondance à valider (Entrée pour ignorer) :

❌ Aucune correspondance validée pour British Indian Ocean Territory

🌍 Nom : Antigua & Barbuda (FR : Antigua-et-Barbuda)
→ Correspondances floues potentielles dans df_final['Country'] :
  [0] Antigua and Barbuda

Sélectionner le numéro de la correspondance à valider (Entrée pour ignorer) :  0

✅ Correspondance validée (floue) : Antigua & Barbuda → Antigua and Barbuda

🌍 Nom : United Republic of Tanzania (FR : République-Unie de Tanzanie)
→ Correspondances par inclusion :
  [0] Tanzania

Sélectionner le numéro de la correspondance à valider (Entrée pour ignorer) :  0

✅ Correspondance validée (inclusion) : United Republic of Tanzania → Tanzania

🌍 Nom : Moldova, Republic of (FR : République de Moldova)
→ Correspondances par inclusion :
  [0] Moldova

Sélectionner le numéro de la correspondance à valider (Entrée pour ignorer) :  0

✅ Correspondance validée (inclusion) : Moldova, Republic of → Moldova

🌍 Nom : Syrian Arab Republic (FR : République arabe syrienne)
→ Correspondances par inclusion :
  [0] Syria

Sélectionner le numéro de la correspondance à valider (Entrée pour ignorer) :  0

✅ Correspondance validée (inclusion) : Syrian Arab Republic → Syria

🌍 Nom : Libyan Arab Jamahiriya (FR : Libye)
→ Correspondances par inclusion :
  [0] Libya

Sélectionner le numéro de la correspondance à valider (Entrée pour ignorer) :  0

✅ Correspondance validée (inclusion) : Libyan Arab Jamahiriya → Libya

🌍 Nom : U.K. of Great Britain and Northern Ireland (FR : Royaume-Uni de Grande-Bretagne et d'Irlande du Nord)
→ Correspondances par inclusion :
  [0] Ireland

Sélectionner le numéro de la correspondance à valider (Entrée pour ignorer) :

❌ Aucune correspondance validée pour U.K. of Great Britain and Northern Ireland

🌍 Nom : South Sudan (FR : Soudan du Sud)
→ Correspondances par inclusion :
  [0] Republic of South Sudan
  [1] Sudan

Sélectionner le numéro de la correspondance à valider (Entrée pour ignorer) :  0

✅ Correspondance validée (inclusion) : South Sudan → Republic of South Sudan

🌍 Nom : American Samoa (FR : American Samoa)
→ Correspondances par inclusion :
  [0] Samoa

Sélectionner le numéro de la correspondance à valider (Entrée pour ignorer) :

❌ Aucune correspondance validée pour American Samoa

🌍 Nom : South Georgia & the South Sandwich Islands (FR : South Georgia & the South Sandwich Islands)
→ Correspondances par inclusion :
  [0] Georgia

Sélectionner le numéro de la correspondance à valider (Entrée pour ignorer) :

❌ Aucune correspondance validée pour South Georgia & the South Sandwich Islands

🌍 Nom : Bosnia & Herzegovina (FR : Bosnie-Herzégovine)
→ Correspondances floues potentielles dans df_final['Country'] :
  [0] Bosnia and Herzegovina

Sélectionner le numéro de la correspondance à valider (Entrée pour ignorer) :  0

✅ Correspondance validée (floue) : Bosnia & Herzegovina → Bosnia and Herzegovina

✅ Mise à jour terminée.

In [144]:
# Sauvegarde du GeoDataFrame mis à jour en GeoJSON
filepath= Path("..") / "Data" / 'SIG' / "world.geojson"
gdf_world = gdf_world.rename(columns={'iso_3166_1_alpha_2_codes': 'Country_code'})

gdf_world.to_file(filepath, driver="GeoJSON", encoding="utf-8")

print(f"✅ Fichier enregistré : {output_path}")

✅ Fichier enregistré : ..\SIG\world.geojson

In [158]:
gdf_world

,geo_point_2d,iso3,status,color_code,name,continent,region,Country_code,french_short,geometry,Country
0,"{ ""lon"": -16.984917430414384, ""lat"": 32.747916...",None,PT Territory,PRT,Madeira Islands,Europe,Southern Europe,None,Madeira Islands,"POLYGON ((-17.1025 32.82333, -17.05306 32.8094...",None
1,"{ ""lon"": 33.743791080217562, ""lat"": 21.8927401...",None,Adm. by EGY,EGY,Ma'tan al-Sarra,Africa,Northern Africa,None,Ma'tan al-Sarra,"POLYGON ((33.25104 21.99977, 34.15064 21.99603...",None
2,"{ ""lon"": 9.5613358449883421, ""lat"": 34.1108585...",TUN,Member State,TUN,Tunisia,Africa,Northern Africa,TN,Tunisie,"MULTIPOLYGON (((10.99361 33.75, 10.93778 33.72...",Tunisia
3,"{ ""lon"": 43.77213543247138, ""lat"": 33.04802449...",IRQ,Member State,IRQ,Iraq,Asia,Western Asia,IQ,Iraq,"POLYGON ((44.78734 37.14971, 44.76617 37.11228...",Iraq
4,"{ ""lon"": -6.3178452255610269, ""lat"": 31.883624...",MAR,Member State,MAR,Morocco,Africa,Northern Africa,MA,Maroc,"POLYGON ((-2.94694 35.32916, -2.96618 35.31663...",Morocco
...,...,...,...,...,...,...,...,...,...,...,...
251,"{ ""lon"": -79.036352343458091, ""lat"": 21.621169...",CUB,Member State,CUB,Cuba,Americas,Caribbean,CU,Cuba,"MULTIPOLYGON (((-82.5446 21.57389, -82.59862 2...",Cuba
252,"{ ""lon"": 109.7081944595275, ""lat"": 3.792366901...",MYS,Member State,MYS,Malaysia,Asia,South-Eastern Asia,MY,Malaisie,"MULTIPOLYGON (((111.41152 2.37639, 111.36804 2...",Malaysia
253,"{ ""lon"": 96.83688205703784, ""lat"": -12.1712496...",CCK,AU Territory,AUS,Cocos (Keeling) Islands,Asia,South-Eastern Asia,CC,Cocos (Keeling) Islands,"POLYGON ((96.86484 -12.19208, 96.85248 -12.199...",None
254,"{ ""lon"": 57.870737345128028, ""lat"": -20.251869...",MUS,Member State,MUS,Mauritius,Africa,Eastern Africa,MU,Maurice,"MULTIPOLYGON (((57.57249 -20.51417, 57.52944 -...",Mauritius
255,"{ ""lon"": 137.99074452809256, ""lat"": 37.5621615...",JPN,Member State,JPN,Japan,Asia,Eastern Asia,JP,Japon,"MULTIPOLYGON (((123.87289 24.25389, 123.86194 ...",Japan

In [160]:
import pandas as pd

# Sélectionner et renommer la colonne color_code

# Fusionner avec df_final
df_merged = df_final.merge(
    gdf_world[['Country_code', 'Country']],
    on='Country',
    how='left'  # garde tous les pays de df_final
)

# Vérifier que la colonne existe
if 'Country_code' not in df_merged.columns:
    df_merged['Country_code'] = pd.NA


print("✅ Fusion terminée.")
print(f"Lignes fusionnées : {len(df_merged)}")
print(f"Lignes sans correspondance de code pays : {df_merged['Country_code'].isna().sum()}")

✅ Fusion terminée.
Lignes fusionnées : 12608
Lignes sans correspondance de code pays : 384

In [163]:
# Filtrer les pays sans correspondance
countries_without_match = df_merged[df_merged['Country_code'].isna()]['Country'].dropna().drop_duplicates().sort_values()

# Afficher le résultat
print(f"🌍 Nombre de pays sans correspondance : {len(countries_without_match)}")
display(countries_without_match.to_frame().reset_index(drop=True))

🌍 Nombre de pays sans correspondance : 6

                          Country
0                            Laos
1                     North Korea
2                 North Macedonia
3  Occupied Palestinian Territory
4                     South Korea
5                  United Kingdom

In [165]:
def manual_country_code_match(df_final, gdf_world):
    """
    Permet de compléter manuellement les codes ISO (Country_code) pour les pays de df_final
    qui n'ont pas de correspondance dans gdf_world['Country_code'].
    """
    # Créer un mapping existant : Country → Country_code
    existing_mapping = gdf_world.set_index('Country')['Country_code'].to_dict()  # color_code = code ISO

    # Liste des pays de df_final sans code
    unmatched_countries = df_final.loc[~df_final['Country'].isin(existing_mapping.keys()), 'Country'].dropna().unique()
    
    print(f"\n🔎 {len(unmatched_countries)} pays sans Country_code.\n")

    for c in unmatched_countries:
        print(f"\n🌍 Pays : {c}")

        # Si des suggestions automatiques existent depuis gdf_world
        suggestions = gdf_world[gdf_world['Country'].str.contains(c, case=False, na=False)]
        if not suggestions.empty:
            print("→ Suggestions depuis gdf_world :")
            for i, row in suggestions.iterrows():
                print(f"  [{i}] {row['Country']} → {row['Country_code']}")

        saisie = input("Entrer le Country_code ISO correspondant (ou Entrée pour ignorer) : ").strip().upper()
        if saisie == "":
            print("⏭️ Ignoré.")
            continue
        else:
            # Remplir df_final avec le code saisi pour toutes les lignes correspondantes
            df_final.loc[df_final['Country'] == c, 'Country_code'] = saisie
            print(f"✅ Country_code ajouté : {c} → {saisie}")

    print("\n✅ Saisie manuelle des codes terminée.")
    return df_final
df_merged = manual_country_code_match(df_merged, gdf_world)

🔎 6 pays sans Country_code.


🌍 Pays : Laos

Entrer le Country_code ISO correspondant (ou Entrée pour ignorer) :  LA

✅ Country_code ajouté : Laos → LA

🌍 Pays : North Korea

Entrer le Country_code ISO correspondant (ou Entrée pour ignorer) :  KP

✅ Country_code ajouté : North Korea → KP

🌍 Pays : North Macedonia

Entrer le Country_code ISO correspondant (ou Entrée pour ignorer) :  MK

✅ Country_code ajouté : North Macedonia → MK

🌍 Pays : Occupied Palestinian Territory

Entrer le Country_code ISO correspondant (ou Entrée pour ignorer) :  PS

✅ Country_code ajouté : Occupied Palestinian Territory → PS

🌍 Pays : South Korea

Entrer le Country_code ISO correspondant (ou Entrée pour ignorer) :  KR

✅ Country_code ajouté : South Korea → KR

🌍 Pays : United Kingdom

Entrer le Country_code ISO correspondant (ou Entrée pour ignorer) :  GB

✅ Country_code ajouté : United Kingdom → GB

✅ Saisie manuelle des codes terminée.

In [167]:
df_merged

,Year,Country,Value,Unit,Indicator,Source,Country_code
0,1960,Afghanistan,4.17891,TgC/year,LULUCF Net emissions,GCB,AF
1,1961,Afghanistan,3.59662,TgC/year,LULUCF Net emissions,GCB,AF
2,1962,Afghanistan,3.32416,TgC/year,LULUCF Net emissions,GCB,AF
3,1963,Afghanistan,3.23023,TgC/year,LULUCF Net emissions,GCB,AF
4,1964,Afghanistan,2.79609,TgC/year,LULUCF Net emissions,GCB,AF
...,...,...,...,...,...,...,...
12603,2019,Zimbabwe,1.64642,TgC/year,LULUCF Net emissions,GCB,ZW
12604,2020,Zimbabwe,1.53131,TgC/year,LULUCF Net emissions,GCB,ZW
12605,2021,Zimbabwe,1.48515,TgC/year,LULUCF Net emissions,GCB,ZW
12606,2022,Zimbabwe,1.51373,TgC/year,LULUCF Net emissions,GCB,ZW
12607,2023,Zimbabwe,1.45969,TgC/year,LULUCF Net emissions,GCB,ZW