In [32]:
import sys
from pathlib import Path
import importlib
import ipynbname 
import pandas as pd

code_path = ipynbname.path().parent.parent
# Ajouter le dossier scripts au path
scripts_path = code_path  / "scripts"
sys.path.append(str(scripts_path.resolve()))

import data_utils  # importe le module une premi√®re fois

# Apr√®s avoir modifi√© data_utils.py
importlib.reload(data_utils)

base_path = code_path.parent
# Maintenant tu peux acc√©der aux fonctions mises √† jour
from data_utils import import_data_raw, import_data_sig, melt_long_format, clean_year_column, save_long_dataframe, concat_intermediate_files

## Importation et formatage

In [2]:
#Visualisation du fichier
filename="GCB_NetEmissions_Countries.csv"
filepath= base_path/ "Data" / 'data_raw' / filename

df = pd.read_csv(filepath, dtype=str,header=1)
df.head()

,Unnamed: 0,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,United Kingdom,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,1960,4.17891,0.98295,4.38642,0.00563,25.0768,-0.02346,10.17,-0.00933,27.694,...,4.45349,14.81644,3.03836,4.84642,0.16419,32.23863,18.54567,-0.15766,13.8241,4.53668
1,1961,3.59662,0.7255,1.8356,0.0074,17.26244,-0.02766,14.1064,0.11416,33.07387,...,7.10318,-10.00987,2.21593,4.75608,0.15837,22.70522,16.16189,-0.10315,12.03768,4.20776
2,1962,3.32416,0.60905,0.8065,0.00565,12.35364,-0.02709,14.34233,0.02598,23.63673,...,7.64517,8.79808,1.46941,4.29027,0.13158,16.16343,14.72754,-0.05754,10.7137,4.01729
3,1963,3.23023,0.46588,0.2254,0.00443,10.40859,-0.02679,15.20561,0.00352,31.58455,...,5.53469,-7.56161,1.21948,3.8779,0.12169,13.62059,14.42662,-0.02795,9.97474,3.78506
4,1964,2.79609,0.65877,0.33382,0.00364,8.94263,-0.03112,16.08965,-0.02384,35.6386,...,4.6661,-20.7625,0.71589,3.528,0.47585,11.67585,14.02095,0.00005,9.69592,3.48887

In [33]:

# D√©finir le chemin
filename = "National_Fossil_Carbon_Emissions_2024v1.0-1.xlsx"
filepath = base_path / "Data" / 'GHG Datasets' / 'Global Carbon Budget' / filename

# Charger le fichier Excel
xls = pd.ExcelFile(filepath)

# Afficher les noms des feuilles
print("Feuilles dans le fichier :", xls.sheet_names)

# Lire la premi√®re feuille (ou choisir celle que tu veux)
df = pd.read_excel(filepath, sheet_name=xls.sheet_names[1], dtype=str, header=11)

# Afficher les 20 premi√®res lignes
df.head(10)

Feuilles dans le fichier : ['Summary', 'Territorial Emissions', 'Consumption Emissions', 'Emissions Transfers', 'Regions']

,Unnamed: 0,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,...,Asia,Central America,Europe,Middle East,North America,Oceania,South America,Bunkers,Statistical Difference,World
0,1850,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,6.8521138750599e-05,...,0.00401202150994847,0,48.2464969314514,0,5.418,0.0305820009434216,0.0256893,0,-1.4210854715202e-14,53.7247802539048
1,1851,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,...,0,0,47.45060918332,0,6.742,0.0290334908417313,0.0301441,0,-7.105427357601e-15,54.2517867741618
2,1852,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,...,0,0,49.24473830895,0,7.335,0.0289450290888339,0.0493654,0,0,56.6580487380389
3,1853,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,...,0,0,50.9561893611538,0,8.26,0.0415723001759676,0.0318038,0,-7.105427357601e-15,59.2895654613298
4,1854,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,...,0,0,60.4710333066774,0,9.084,0.0500891057352644,0.0014707,0,1.4210854715202e-14,69.6065931124127
5,1855,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.000207773775566332,...,0.0121654845785534,0,60.4634048089304,0,10.456,0.0588639963115096,0.0411845,0,-1.4210854715202e-14,71.0316187898205
6,1856,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0045444,0,...,0,0.1049454,64.6237705939835,0,10.9781749,0.0815737600990279,0.1519357,0,0,75.9404003540825
7,1857,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0111237,0,...,0,0.0984529,65.0462936367495,0,11.2659992,0.0903658277146707,0.2404409,0,-1.4210854715202e-14,76.7415524644642
8,1858,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0144018,0.000291767429518679,...,0.124749367485013,0.0923615,65.9174383789256,0,11.4432252,0.0929264948628625,0.2628115,0,0,77.9335124412735
9,1859,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0092316,0.000309450304034963,...,0.191831889530606,0.0866474,69.5046705677605,0,12.4571777,0.132354671096029,0.20706,0,0,82.5797422283872

In [38]:
#Importation
df = import_data_raw(filepath, n_header=11, sheet_name=xls.sheet_names[1])
df = clean_year_column(df)  # nettoie la colonne Year
df.head()

,Year,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,...,Asia,Central America,Europe,Middle East,North America,Oceania,South America,Bunkers,Statistical Difference,World
0,1850,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.000069,...,0.004012,0.0,48.246497,0.0,5.418,0.030582,0.025689,0.0,-1.421085e-14,53.724780
1,1851,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.000000,...,0.000000,0.0,47.450609,0.0,6.742,0.029033,0.030144,0.0,-7.105427e-15,54.251787
2,1852,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.000000,...,0.000000,0.0,49.244738,0.0,7.335,0.028945,0.049365,0.0,0.000000e+00,56.658049
3,1853,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.000000,...,0.000000,0.0,50.956189,0.0,8.260,0.041572,0.031804,0.0,-7.105427e-15,59.289565
4,1854,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.000000,...,0.000000,0.0,60.471033,0.0,9.084,0.050089,0.001471,0.0,1.421085e-14,69.606593

In [55]:
#Passage en format long
source="GCB"
unit="MtC/year"
indicator="Fossil CO2 emissions"
df_long = melt_long_format(df, id_vars=['Year'], var_name='Country', value_name='Value', source=source,unit=unit, indicator=indicator)
df_long.head()

   Year      Country  Value      Unit             Indicator Source
0  1850  Afghanistan    NaN  MtC/year  Fossil CO2 emissions    GCB
1  1851  Afghanistan    NaN  MtC/year  Fossil CO2 emissions    GCB
2  1852  Afghanistan    NaN  MtC/year  Fossil CO2 emissions    GCB
3  1853  Afghanistan    NaN  MtC/year  Fossil CO2 emissions    GCB
4  1854  Afghanistan    NaN  MtC/year  Fossil CO2 emissions    GCB

## SIG ET NOM DE PAYS

In [5]:
# Importation de fichier SIG
gdf_world=import_data_sig('world.geojson',base_path)
#gdf_world[['iso_3166_1_alpha_2_codes', 'name']]

gdf_world.head()

,geo_point_2d,iso3,status,color_code,name,continent,region,Country_code,french_short,Country,geometry
0,"{ ""lon"": -16.984917430414384, ""lat"": 32.747916...",None,PT Territory,PRT,Madeira Islands,Europe,Southern Europe,None,Madeira Islands,None,"POLYGON ((-17.1025 32.82333, -17.05306 32.8094..."
1,"{ ""lon"": 33.743791080217562, ""lat"": 21.8927401...",None,Adm. by EGY,EGY,Ma'tan al-Sarra,Africa,Northern Africa,None,Ma'tan al-Sarra,None,"POLYGON ((33.25104 21.99977, 34.15064 21.99603..."
2,"{ ""lon"": 9.5613358449883421, ""lat"": 34.1108585...",TUN,Member State,TUN,Tunisia,Africa,Northern Africa,TN,Tunisie,Tunisia,"MULTIPOLYGON (((10.99361 33.75, 10.93778 33.72..."
3,"{ ""lon"": 43.77213543247138, ""lat"": 33.04802449...",IRQ,Member State,IRQ,Iraq,Asia,Western Asia,IQ,Iraq,Iraq,"POLYGON ((44.78734 37.14971, 44.76617 37.11228..."
4,"{ ""lon"": -6.3178452255610269, ""lat"": 31.883624...",MAR,Member State,MAR,Morocco,Africa,Northern Africa,MA,Maroc,Morocco,"POLYGON ((-2.94694 35.32916, -2.96618 35.31663..."

### OPTIONAL

In [ ]:
import pandas as pd

# Fusion des deux tables
df_merged = df_long.merge(
    gdf_world[['iso_3166_1_alpha_2_codes', 'name']],
    left_on='Country',
    right_on='name',
    how='outer',  # on garde tout pour pouvoir identifier les non-correspondances
    indicator=True
)

# --- Identifier les correspondances et les non-correspondances ---
# Country sans √©quivalent dans gdf_world['name']
country_sans_name = df_merged[df_merged['_merge'] == 'left_only'][['Country']].drop_duplicates()

# name sans √©quivalent dans df_final['Country']
name_sans_country = df_merged[df_merged['_merge'] == 'right_only'][['name']].drop_duplicates()

# Comptage
print(f"Nombre de 'Country' sans √©quivalent : {len(country_sans_name)}")
print(f"Nombre de 'name' sans √©quivalent : {len(name_sans_country)}")

# Optionnel : garder seulement les ligne

In [ ]:
country_sans_name

In [7]:
import pandas as pd
from difflib import get_close_matches

# --- Pr√©paration ---
countries = df_long['Country'].dropna().unique()
gdf_world['Country'] = None  # colonne √† cr√©er/remplir

from difflib import get_close_matches

# --- Fonction utilitaire pour trouver les meilleures correspondances ---
def find_best_match(target, candidates, cutoff=0.8):
    """Retourne les meilleures correspondances au-dessus du seuil de similarit√©."""
    return get_close_matches(target, candidates, n=5, cutoff=cutoff)

# --- It√©ration sur les lignes de gdf_world ---
for idx, row in gdf_world.iterrows():
    name = str(row['name'])
    french = str(row.get('french_short', '') or '')
    candidates = list(countries)

    # --- 1Ô∏è‚É£ Correspondance exacte ---
    exact_match = next(
        (c for c in candidates if c.lower() == name.lower() or c.lower() == french.lower()), 
        None
    )
    if exact_match:
        gdf_world.at[idx, 'Country'] = exact_match
        continue

    # --- 2Ô∏è‚É£ Correspondance par inclusion (dans un sens ou l‚Äôautre) ---
    inclusions = [
        c for c in candidates
        if name.lower() in c.lower() or c.lower() in name.lower()
        or french.lower() in c.lower() or c.lower() in french.lower()
    ]
    if inclusions:
        print(f"\nüåç Nom : {name} (FR : {french})")
        print("‚Üí Correspondances par inclusion :")
        for i, c in enumerate(inclusions):
            print(f"  [{i}] {c}")
        choix = input("S√©lectionner le num√©ro de la correspondance √† valider (Entr√©e pour ignorer) : ")

        if choix.isdigit() and int(choix) < len(inclusions):
            gdf_world.at[idx, 'Country'] = inclusions[int(choix)]
            print(f"‚úÖ Correspondance valid√©e (inclusion) : {name} ‚Üí {inclusions[int(choix)]}")
            continue
        else:
            print(f"‚ùå Aucune correspondance valid√©e pour {name}")

    # --- 3Ô∏è‚É£ Correspondance floue (difflib) ---
    matches_name = find_best_match(name, candidates)
    matches_fr = find_best_match(french, candidates) if french else []
    all_matches = list(dict.fromkeys(matches_name + matches_fr))  # fusion sans doublons

    if all_matches:
        print(f"\nüåç Nom : {name} (FR : {french})")
        print("‚Üí Correspondances floues potentielles dans df_merged['Country'] :")
        for i, c in enumerate(all_matches):
            print(f"  [{i}] {c}")
        choix = input("S√©lectionner le num√©ro de la correspondance √† valider (Entr√©e pour ignorer) : ")

        if choix.isdigit() and int(choix) < len(all_matches):
            gdf_world.at[idx, 'Country'] = all_matches[int(choix)]
            print(f"‚úÖ Correspondance valid√©e (floue) : {name} ‚Üí {all_matches[int(choix)]}")
        else:
            print(f"‚ùå Aucune correspondance valid√©e pour {name}")

print("\n‚úÖ Mise √† jour termin√©e.")

üåç Nom : Netherlands Antilles (FR : Netherlands Antilles)
‚Üí Correspondances par inclusion :
  [0] Netherlands

S√©lectionner le num√©ro de la correspondance √† valider (Entr√©e pour ignorer) :

‚ùå Aucune correspondance valid√©e pour Netherlands Antilles

üåç Nom : British Indian Ocean Territory (FR : British Indian Ocean Territory)
‚Üí Correspondances par inclusion :
  [0] India

S√©lectionner le num√©ro de la correspondance √† valider (Entr√©e pour ignorer) :

‚ùå Aucune correspondance valid√©e pour British Indian Ocean Territory

üåç Nom : Antigua & Barbuda (FR : Antigua-et-Barbuda)
‚Üí Correspondances floues potentielles dans df_merged['Country'] :
  [0] Antigua and Barbuda

S√©lectionner le num√©ro de la correspondance √† valider (Entr√©e pour ignorer) :  0

‚úÖ Correspondance valid√©e (floue) : Antigua & Barbuda ‚Üí Antigua and Barbuda

üåç Nom : United Republic of Tanzania (FR : R√©publique-Unie de Tanzanie)
‚Üí Correspondances par inclusion :
  [0] Tanzania

S√©lectionner le num√©ro de la correspondance √† valider (Entr√©e pour ignorer) :  0

‚úÖ Correspondance valid√©e (inclusion) : United Republic of Tanzania ‚Üí Tanzania

üåç Nom : Moldova, Republic of (FR : R√©publique de Moldova)
‚Üí Correspondances par inclusion :
  [0] Moldova

S√©lectionner le num√©ro de la correspondance √† valider (Entr√©e pour ignorer) :  0

‚úÖ Correspondance valid√©e (inclusion) : Moldova, Republic of ‚Üí Moldova

üåç Nom : Syrian Arab Republic (FR : R√©publique arabe syrienne)
‚Üí Correspondances par inclusion :
  [0] Syria

S√©lectionner le num√©ro de la correspondance √† valider (Entr√©e pour ignorer) :  0

‚úÖ Correspondance valid√©e (inclusion) : Syrian Arab Republic ‚Üí Syria

üåç Nom : Libyan Arab Jamahiriya (FR : Libye)
‚Üí Correspondances par inclusion :
  [0] Libya

S√©lectionner le num√©ro de la correspondance √† valider (Entr√©e pour ignorer) :  0

‚úÖ Correspondance valid√©e (inclusion) : Libyan Arab Jamahiriya ‚Üí Libya

üåç Nom : U.K. of Great Britain and Northern Ireland (FR : Royaume-Uni de Grande-Bretagne et d'Irlande du Nord)
‚Üí Correspondances par inclusion :
  [0] Ireland

S√©lectionner le num√©ro de la correspondance √† valider (Entr√©e pour ignorer) :

‚ùå Aucune correspondance valid√©e pour U.K. of Great Britain and Northern Ireland

üåç Nom : South Sudan (FR : Soudan du Sud)
‚Üí Correspondances par inclusion :
  [0] Republic of South Sudan
  [1] Sudan

S√©lectionner le num√©ro de la correspondance √† valider (Entr√©e pour ignorer) :  0

‚úÖ Correspondance valid√©e (inclusion) : South Sudan ‚Üí Republic of South Sudan

üåç Nom : American Samoa (FR : American Samoa)
‚Üí Correspondances par inclusion :
  [0] Samoa

S√©lectionner le num√©ro de la correspondance √† valider (Entr√©e pour ignorer) :

‚ùå Aucune correspondance valid√©e pour American Samoa

üåç Nom : South Georgia & the South Sandwich Islands (FR : South Georgia & the South Sandwich Islands)
‚Üí Correspondances par inclusion :
  [0] Georgia

S√©lectionner le num√©ro de la correspondance √† valider (Entr√©e pour ignorer) :

‚ùå Aucune correspondance valid√©e pour South Georgia & the South Sandwich Islands

üåç Nom : Bosnia & Herzegovina (FR : Bosnie-Herz√©govine)
‚Üí Correspondances floues potentielles dans df_merged['Country'] :
  [0] Bosnia and Herzegovina

S√©lectionner le num√©ro de la correspondance √† valider (Entr√©e pour ignorer) :  0

‚úÖ Correspondance valid√©e (floue) : Bosnia & Herzegovina ‚Üí Bosnia and Herzegovina

‚úÖ Mise √† jour termin√©e.

In [8]:
# Sauvegarde du GeoDataFrame mis √† jour en GeoJSON
filepath= base_path/ "Data" / 'SIG' / "world.geojson"
gdf_world = gdf_world.rename(columns={'iso_3166_1_alpha_2_codes': 'Country_code'})

gdf_world.to_file(filepath, driver="GeoJSON", encoding="utf-8")

print(f"‚úÖ Fichier enregistr√© : {filepath}")

‚úÖ Fichier enregistr√© : C:\Users\Aubin\Documents\NetZero\Data\SIG\world.geojson

### GO

In [41]:
import pandas as pd

# S√©lectionner et renommer la colonne color_code

# Fusionner avec df_merged
df_merged = df_long.merge(
    gdf_world[['Country_code', 'Country']],
    on='Country',
    how='left'  # garde tous les pays de df_merged
)

# V√©rifier que la colonne existe
if 'Country_code' not in df_merged.columns:
    df_merged['Country_code'] = pd.NA


print("‚úÖ Fusion termin√©e.")
print(f"Lignes fusionn√©es : {len(df_merged)}")
print(f"Lignes sans correspondance de code pays : {df_merged['Country_code'].isna().sum()}")

‚úÖ Fusion termin√©e.
Lignes fusionn√©es : 40194
Lignes sans correspondance de code pays : 8526

In [42]:
# Filtrer les pays sans correspondance
countries_without_match = df_merged[df_merged['Country_code'].isna()]['Country'].dropna().drop_duplicates().sort_values()

# Afficher le r√©sultat
print(f"üåç Nombre de pays sans correspondance : {len(countries_without_match)}")
display(countries_without_match.to_frame().reset_index(drop=True))

üåç Nombre de pays sans correspondance : 49

                              Country
0                              Africa
1                            Anguilla
2                               Aruba
3                                Asia
4                             Bermuda
5   Bonaire, Saint Eustatius and Saba
6              British Virgin Islands
7                             Bunkers
8                     Central America
9                             Cura√ßao
10                            Czechia
11                               EU27
12                           Eswatini
13                             Europe
14                     Faeroe Islands
15                   French Polynesia
16                          Greenland
17                          Hong Kong
18                         KP Annex B
19                             Kosovo
20                               Laos
21                              Macao
22                        Middle East
23                         Montserrat
24                      New Caledonia
25                     Non KP Annex B
26                           Non-OECD
27                      North America
28                        North Korea
29                    North Macedonia
30                               OECD
31                            Oceania
32                             Russia
33                       Saint Helena
34          Saint Pierre and Miquelon
35          Sint Maarten (Dutch part)
36                      South America
37                        South Korea
38                        South Sudan
39                 State of Palestine
40             Statistical Difference
41                             Taiwan
42           Turks and Caicos Islands
43                            T√ºrkiye
44                                USA
45                     United Kingdom
46                           Viet Nam
47          Wallis and Futuna Islands
48                              World

In [50]:
import pandas as pd

def manual_country_code_match(df_merged, gdf_world, country_codes_path):
    """
    Compl√®te manuellement ou automatiquement les codes ISO (Country_code) pour les pays
    de df_merged qui n'ont pas de correspondance dans gdf_world['Country_code'].
    
    Args:
        df_merged: DataFrame avec une colonne 'Country' et √©ventuellement 'Country_code'.
        gdf_world: GeoDataFrame avec colonnes 'Country' et 'Country_code'.
        country_codes_path: chemin vers le fichier CSV contenant les codes ISO (Country, Alpha-2, Alpha-3, Numeric).
        
    Returns:
        df_merged avec la colonne 'Country_code' compl√©t√©e.
    """
    # Charger le fichier CSV des codes ISO
    country_codes_df = pd.read_csv(country_codes_path)
    
    # Cr√©er un mapping existant depuis gdf_world
    existing_mapping = gdf_world.set_index('Country')['Country_code'].to_dict()

    # Cr√©er un mapping depuis le CSV
    csv_mapping = country_codes_df.set_index('Country')['Alpha-2 code'].to_dict()

    # Identifier les pays sans code
    unmatched_countries = df_merged.loc[~df_merged['Country'].isin(existing_mapping.keys()), 'Country'].dropna().unique()
    
    print(f"\nüîé {len(unmatched_countries)} pays sans Country_code.\n")

    for c in unmatched_countries:
        print(f"\nüåç Pays : {c}")

        # V√©rifier si le CSV contient le pays
        if c in csv_mapping:
            saisie = csv_mapping[c]
            print(f"‚Üí Code trouv√© automatiquement depuis CSV : {saisie}")
        else:
            # Sinon, proposer des suggestions depuis gdf_world
            suggestions = gdf_world[gdf_world['Country'].str.contains(c, case=False, na=False)]
            if not suggestions.empty:
                print("‚Üí Suggestions depuis gdf_world :")
                for i, row in suggestions.iterrows():
                    print(f"  [{i}] {row['Country']} ‚Üí {row['Country_code']}")
            # Demander la saisie manuelle
            saisie = input("Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) : ").strip().upper()
            if saisie == "":
                print("‚è≠Ô∏è Ignor√©.")
                continue
        
        # Remplir df_merged avec le code trouv√© ou saisi
        df_merged.loc[df_merged['Country'] == c, 'Country_code'] = saisie
        print(f"‚úÖ Country_code ajout√© : {c} ‚Üí {saisie}")

    print("\n‚úÖ Saisie automatique et manuelle des codes termin√©e.")
    return df_merged

# Exemple d'appel
df_merged = manual_country_code_match(df_merged, gdf_world, r"C:\Users\Aubin\Documents\NetZero\Data\SIG\country_codes.csv")

üîé 49 pays sans Country_code.


üåç Pays : Anguilla
‚Üí Code trouv√© automatiquement depuis CSV : AI
‚úÖ Country_code ajout√© : Anguilla ‚Üí AI

üåç Pays : Aruba
‚Üí Code trouv√© automatiquement depuis CSV : AW
‚úÖ Country_code ajout√© : Aruba ‚Üí AW

üåç Pays : Bermuda
‚Üí Code trouv√© automatiquement depuis CSV : BM
‚úÖ Country_code ajout√© : Bermuda ‚Üí BM

üåç Pays : Bonaire, Saint Eustatius and Saba

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :

‚è≠Ô∏è Ignor√©.

üåç Pays : British Virgin Islands

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :

‚è≠Ô∏è Ignor√©.

üåç Pays : Cura√ßao
‚Üí Code trouv√© automatiquement depuis CSV : CW
‚úÖ Country_code ajout√© : Cura√ßao ‚Üí CW

üåç Pays : Czechia
‚Üí Code trouv√© automatiquement depuis CSV : CZ
‚úÖ Country_code ajout√© : Czechia ‚Üí CZ

üåç Pays : North Korea

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :  KP

‚úÖ Country_code ajout√© : North Korea ‚Üí KP

üåç Pays : Faeroe Islands

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :  FO

‚úÖ Country_code ajout√© : Faeroe Islands ‚Üí FO

üåç Pays : French Polynesia
‚Üí Code trouv√© automatiquement depuis CSV : PF
‚úÖ Country_code ajout√© : French Polynesia ‚Üí PF

üåç Pays : Greenland
‚Üí Code trouv√© automatiquement depuis CSV : GL
‚úÖ Country_code ajout√© : Greenland ‚Üí GL

üåç Pays : Hong Kong
‚Üí Code trouv√© automatiquement depuis CSV : HK
‚úÖ Country_code ajout√© : Hong Kong ‚Üí HK

üåç Pays : Kosovo

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :

‚è≠Ô∏è Ignor√©.

üåç Pays : Laos

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :  LA

‚úÖ Country_code ajout√© : Laos ‚Üí LA

üåç Pays : Macao
‚Üí Code trouv√© automatiquement depuis CSV : MO
‚úÖ Country_code ajout√© : Macao ‚Üí MO

üåç Pays : North Macedonia

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :  MK

‚úÖ Country_code ajout√© : North Macedonia ‚Üí MK

üåç Pays : Montserrat
‚Üí Code trouv√© automatiquement depuis CSV : MS
‚úÖ Country_code ajout√© : Montserrat ‚Üí MS

üåç Pays : New Caledonia
‚Üí Code trouv√© automatiquement depuis CSV : NC
‚úÖ Country_code ajout√© : New Caledonia ‚Üí NC

üåç Pays : State of Palestine

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :  PS

‚úÖ Country_code ajout√© : State of Palestine ‚Üí PS

üåç Pays : South Korea

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :  KR

‚úÖ Country_code ajout√© : South Korea ‚Üí KR

üåç Pays : South Sudan
‚Üí Code trouv√© automatiquement depuis CSV : SS
‚úÖ Country_code ajout√© : South Sudan ‚Üí SS

üåç Pays : Russia
‚Üí Suggestions depuis gdf_world :
  [108] Russian Federation ‚Üí RU

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :  RU

‚úÖ Country_code ajout√© : Russia ‚Üí RU

üåç Pays : Saint Helena

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :

‚è≠Ô∏è Ignor√©.

üåç Pays : Sint Maarten (Dutch part)

C:\Users\Aubin\AppData\Local\Temp\ipykernel_18264\2853083755.py:39: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  suggestions = gdf_world[gdf_world['Country'].str.contains(c, case=False, na=False)]

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :

‚è≠Ô∏è Ignor√©.

üåç Pays : Saint Pierre and Miquelon
‚Üí Code trouv√© automatiquement depuis CSV : PM
‚úÖ Country_code ajout√© : Saint Pierre and Miquelon ‚Üí PM

üåç Pays : Eswatini
‚Üí Code trouv√© automatiquement depuis CSV : SZ
‚úÖ Country_code ajout√© : Eswatini ‚Üí SZ

üåç Pays : Taiwan

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :  TW

‚úÖ Country_code ajout√© : Taiwan ‚Üí TW

üåç Pays : T√ºrkiye

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :  TR

‚úÖ Country_code ajout√© : T√ºrkiye ‚Üí TR

üåç Pays : Turks and Caicos Islands

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :  TC

‚úÖ Country_code ajout√© : Turks and Caicos Islands ‚Üí TC

üåç Pays : United Kingdom

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :  GB

‚úÖ Country_code ajout√© : United Kingdom ‚Üí GB

üåç Pays : USA

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :  US

‚úÖ Country_code ajout√© : USA ‚Üí US

üåç Pays : Viet Nam
‚Üí Code trouv√© automatiquement depuis CSV : VN
‚úÖ Country_code ajout√© : Viet Nam ‚Üí VN

üåç Pays : Wallis and Futuna Islands

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :  WF

‚úÖ Country_code ajout√© : Wallis and Futuna Islands ‚Üí WF

üåç Pays : KP Annex B

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :

‚è≠Ô∏è Ignor√©.

üåç Pays : Non KP Annex B

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :

‚è≠Ô∏è Ignor√©.

üåç Pays : OECD

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :

‚è≠Ô∏è Ignor√©.

üåç Pays : Non-OECD

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :

‚è≠Ô∏è Ignor√©.

üåç Pays : EU27

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :

‚è≠Ô∏è Ignor√©.

üåç Pays : Africa
‚Üí Suggestions depuis gdf_world :
  [5] South Africa ‚Üí ZA
  [147] Central African Republic ‚Üí CF

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :

‚è≠Ô∏è Ignor√©.

üåç Pays : Asia

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :

‚è≠Ô∏è Ignor√©.

üåç Pays : Central America

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :

‚è≠Ô∏è Ignor√©.

üåç Pays : Europe

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :

‚è≠Ô∏è Ignor√©.

üåç Pays : Middle East

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :

‚è≠Ô∏è Ignor√©.

üåç Pays : North America

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :

‚è≠Ô∏è Ignor√©.

üåç Pays : Oceania

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :

‚è≠Ô∏è Ignor√©.

üåç Pays : South America

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :

‚è≠Ô∏è Ignor√©.

üåç Pays : Bunkers

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :

‚è≠Ô∏è Ignor√©.

üåç Pays : Statistical Difference

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :

‚è≠Ô∏è Ignor√©.

üåç Pays : World

Entrer le Country_code ISO correspondant (ou Entr√©e pour ignorer) :

‚è≠Ô∏è Ignor√©.

‚úÖ Saisie automatique et manuelle des codes termin√©e.

## DF FINAL

In [51]:
#enregistrer dans data_intermediate
save_long_dataframe(
    df_merged,
    base_path,
    folder='data_intermediate',
    indicator=indicator,
    source=source
)

DataFrame sauvegard√© dans C:\Users\Aubin\Documents\NetZero\Data\data_intermediate\Fossil_CO2_emissions_GCB.csv

WindowsPath('C:/Users/Aubin/Documents/NetZero/Data/data_intermediate/Fossil_CO2_emissions_GCB.csv')

In [56]:
df_merged

,Year,Country,Value,Unit,Indicator,Source,Country_code
0,1850,Afghanistan,NaN,MtC/year,Fossil CO2 emissions,GCB,AF
1,1851,Afghanistan,NaN,MtC/year,Fossil CO2 emissions,GCB,AF
2,1852,Afghanistan,NaN,MtC/year,Fossil CO2 emissions,GCB,AF
3,1853,Afghanistan,NaN,MtC/year,Fossil CO2 emissions,GCB,AF
4,1854,Afghanistan,NaN,MtC/year,Fossil CO2 emissions,GCB,AF
...,...,...,...,...,...,...,...
40189,2019,World,10126.713389,MtC/year,Fossil CO2 emissions,GCB,NaN
40190,2020,World,9586.933986,MtC/year,Fossil CO2 emissions,GCB,NaN
40191,2021,World,10095.997892,MtC/year,Fossil CO2 emissions,GCB,NaN
40192,2022,World,10178.448797,MtC/year,Fossil CO2 emissions,GCB,NaN
40193,2023,World,10314.292770,MtC/year,Fossil CO2 emissions,GCB,NaN

In [53]:
def concat_intermediate_files(base_path, folder_in="data_intermediate", folder_out="data_final", final_filename="data_final.csv", sep=',', encoding='utf-8'):
    """
    Concat√®ne tous les fichiers CSV dans un dossier interm√©diaire et sauvegarde le r√©sultat final.
    Affiche les fichiers trouv√©s et le nombre de lignes par fichier.

    Param√®tres :
    - folder_in : dossier contenant les fichiers CSV interm√©diaires
    - folder_out : dossier o√π sauvegarder le fichier final
    - final_filename : nom du fichier CSV final
    - sep : s√©parateur CSV
    - encoding : encodage du fichier
    """
    import pandas as pd
    from pathlib import Path
    import glob

    # Construire le chemin des fichiers
    folder_path = base_path / "Data" / folder_in
    files = glob.glob(str(folder_path / "*.csv"))

    if not files:
        print(f"Aucun fichier CSV trouv√© dans {folder_path}")
        return None

    print("Fichiers trouv√©s et nombre de lignes :")
    dfs = []
    for f in files:
        df = pd.read_csv(f, sep=sep, encoding=encoding)
        print(f"{f} colonnes : {df.columns.tolist()}")
        print(f"- {f} : {len(df)} lignes")
        dfs.append(df)

    # Concat√©ner tous les fichiers
    df_final = pd.concat(dfs, ignore_index=True)
    print(f"{len(files)} fichiers fusionn√©s pour obtenir {len(df_final)} lignes au total.")

    # Sauvegarder le r√©sultat final
    save_path = base_path / "Data" / folder_out / final_filename
    save_path.parent.mkdir(parents=True, exist_ok=True)
    df_final.to_csv(save_path, sep=sep, index=False, encoding=encoding)

    print(f"DataFrame final sauvegard√© dans {save_path}")
    return df_final

In [57]:
#Concat√©ner toutes les bases de donn√©es dans data_intermediate et enregistrer dans data_final
df_final = concat_intermediate_files(
    base_path,
    folder_in="data_intermediate",
    folder_out="data_final",
    final_filename="data_final_all.csv"
)
df_final.head()

Fichiers trouv√©s et nombre de lignes :
C:\Users\Aubin\Documents\NetZero\Data\data_intermediate\Fossil_CO2_emissions_GCB.csv colonnes : ['Year', 'Country', 'Value', 'Unit', 'Indicator', 'Source', 'Country_code']
- C:\Users\Aubin\Documents\NetZero\Data\data_intermediate\Fossil_CO2_emissions_GCB.csv : 24636 lignes
C:\Users\Aubin\Documents\NetZero\Data\data_intermediate\LULUCF_Net_emissions_GCB.csv colonnes : ['Year', 'Country', 'Value', 'Unit', 'Indicator', 'Source', 'Country_code']
- C:\Users\Aubin\Documents\NetZero\Data\data_intermediate\LULUCF_Net_emissions_GCB.csv : 12480 lignes
2 fichiers fusionn√©s pour obtenir 37116 lignes au total.
DataFrame final sauvegard√© dans C:\Users\Aubin\Documents\NetZero\Data\data_final\data_final_all.csv

,Year,Country,Value,Unit,Indicator,Source,Country_code
0,1949,Afghanistan,0.004,MtC/year,Fossil CO2 emissions,GCB,AF
1,1950,Afghanistan,0.023,MtC/year,Fossil CO2 emissions,GCB,AF
2,1951,Afghanistan,0.025,MtC/year,Fossil CO2 emissions,GCB,AF
3,1952,Afghanistan,0.025,MtC/year,Fossil CO2 emissions,GCB,AF
4,1953,Afghanistan,0.029,MtC/year,Fossil CO2 emissions,GCB,AF

In [58]:
df_final

,Year,Country,Value,Unit,Indicator,Source,Country_code
0,1949,Afghanistan,0.00400,MtC/year,Fossil CO2 emissions,GCB,AF
1,1950,Afghanistan,0.02300,MtC/year,Fossil CO2 emissions,GCB,AF
2,1951,Afghanistan,0.02500,MtC/year,Fossil CO2 emissions,GCB,AF
3,1952,Afghanistan,0.02500,MtC/year,Fossil CO2 emissions,GCB,AF
4,1953,Afghanistan,0.02900,MtC/year,Fossil CO2 emissions,GCB,AF
...,...,...,...,...,...,...,...
37111,2019,Zimbabwe,1.64642,TgC/year,LULUCF Net Emissions,GCB,ZW
37112,2020,Zimbabwe,1.53131,TgC/year,LULUCF Net Emissions,GCB,ZW
37113,2021,Zimbabwe,1.48515,TgC/year,LULUCF Net Emissions,GCB,ZW
37114,2022,Zimbabwe,1.51373,TgC/year,LULUCF Net Emissions,GCB,ZW
37115,2023,Zimbabwe,1.45969,TgC/year,LULUCF Net Emissions,GCB,ZW